@import url("./variables.css");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#content {
  display: flex;
  flex: 1;
}

#main-sidebar {
  width: 25vw;
  margin: 15px;
}

main {
  flex: 1;
  width: 75vw;
  padding: 0 2rem;
}

footer {
  width: 100%;
}
